<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="guess" />
    </div>
    <div>
      <!--<button (click)="addGuess()">Add</button>-->
      <ion-button (click)="addGuess($event)">Add Guess</ion-button>
      <ion-button (click)="addGuess2($event)">Add Guess2</ion-button>
    </div>
  </div>
   
  <table class='table'>
    <thead>
      <tr>
        <th>Suggestion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of words;">
        <td>{{word}}</td>
      </tr>
    </tbody>
  </table>

 
  <ion-grid  no-padding>
<!-- row 1 -->
    <ion-row >
      <ion-col   style="border: 1px solid red;"  class="ion-no-padding">
        Col 1 Row 1
      </ion-col>
      <ion-col  class="ion-no-padding">
        Col 2 Row 1
      </ion-col>
      <ion-col   class="ion-no-padding">
        Col 3 Row 1
      </ion-col>
    </ion-row>

    <!-- row 2 -->
    <ion-row >
      <ion-col   class="ion-no-padding">
        Col 1 Row 2
      </ion-col>
      <ion-col    class="ion-no-padding">
        Col 2 Row 2
      </ion-col>
      <ion-col    class="ion-no-padding">
        Col 3 Row 2
      </ion-col>
    </ion-row>

    <!-- row 3 -->
    <ion-row >
      <ion-col   class="ion-no-padding">
        Col 1 Row 3
      </ion-col>
      <ion-col    class="ion-no-padding">
        Col 2 Row 3
      </ion-col>
      <ion-col  class="ion-no-padding">
        Col 3 Row 3
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <table>
    <tr><td>L</td><td>A</td><td>U</td><td>G</td><td>H</td></tr>
    <tr><td>P</td><td>A</td><td>N</td><td>I</td><td>C</td></tr>
  </table>

</ion-content>
